// Fonts
$font_heading         : 'Poppins', sans-serif;
$font_text            : 'Roboto', sans-serif;

// Colors 0fb6a6 4f38d6
$color_primary        : #4f38d6;
$color_secondary      : #0fb6a6;
$color_light_grey     : #F9F9F9;
$color_light_blue     : #fcfbff;
$body_text            : #7C7885;
$color_white          : #fff;
$color_like_grey      : #fafafa;
$color_success        : #4caf50;
$color_danger         : #f27474;
$color_dark_blue      : #2b2c3e;
$color_orange         : #f0932b;
$color_black          : #000;
$color_footer         : #2b2c3e;
$color_bg_grey        : rgba($color_primary,0.06);
$color_primary_light  : #edeffe;
$color_soft_grey      : #e0e0e0;
$color_footer_link    : #dee2e6;
$color_grey_secondary : #eee;
$color_shadow         : rgba(62, 56, 78, 0.2);

// Transition
$trs_linear           : all 0.25s linear;